[include]
    path = .config/git/common
[user]
    name = Flavio Fernandes
    #email = flavio@flaviof.com
    email = flaviof@redhat.com
[credential "https://github.com"]
    helper = !gh auth git-credential
